$radius: 10px;

.message {
  color: white;
  background: #404040;
  padding: 10px;
  form {
    display: flex;

    input[type="text"] {
      border-radius: $radius 0 0 $radius;
      margin-bottom: 5px;
    }

    input[type="submit"] {
      background: orange;
      border: 0 solid white;
      border-radius: 0 $radius $radius 0;
      padding: 10px;
    }
  }
}
